.button {
    width: 120px;
    height: 38px;
    background-color: transparent;
    border: 2px solid $color-principal;
    border-radius: 10px;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    color: $color-principal;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: $color-principal;
        border: 2px solid $color-principal;
        color: black;
    }
}