.navbar {
    font-family: $fuente-principal;
    font-size: 16px;
    height: $height-navbar;
    
    &.scrolled {
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        transition: background-color 0.3s ease;
    }
}

.navbar {
    .container {
        div {
            ul {
                li {
                    a {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23adff2f' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-dropdown-menu {
    background-color: transparent;
    box-shadow: none;
    border: none;

    .dropdown-item {
        background-color: transparent;
        text-align: right;
        color: $color-principal;
        font-weight: 500;
        transition: color 0.2s;

        &:hover,
        &:focus {
            color: $color-hover-submenu;
        }
    }
}